# Written by TheFinals --resolve. Values verified against a live match.
# Delete this file to fall back to the compiled-in defaults.

AActor_RootComponent             = 0x240
ACharacter_CapsuleComponent      = 0x450
ACharacter_CharacterMovement     = 0x448
AController_ControlRotation      = 0x448
AController_Pawn                 = 0x408
AController_PlayerState          = 0x3D0
ADiscoveryCharacter_AnimSU       = 0xD08
ADiscoveryCharacter_Health       = 0xCF0
ADiscoveryCharacter_Squad        = 0xD30
AGameStateBase_PlayerArray       = 0x460
AGameStateBase_WorldTime         = 0x4F0
APawn_BaseEyeHeight              = 0x3CC
APawn_Controller                 = 0x3F0
APawn_Mesh                       = 0x440
APlayerCameraManager_PCOwner     = 0x3D0
APlayerCameraManager_POVLoc      = 0x430
APlayerController_CameraManager  = 0x0
APlayerState_ClubTag             = 0x678
APlayerState_Discriminator       = 0x5C8
APlayerState_DisplayName         = 0x688
APlayerState_PawnPrivate         = 0x438
APlayerState_Spectator           = 0x3CA
APlayerState_Squad               = 0x488
AnimSU_GameState                 = 0x3C0
BoneTree_Parents                 = 0x90
Bone_Head                        = 0x7
Bone_Pelvis                      = 0x1
Capsule_HalfHeight               = 0x6D0
ChaosScene_SceneSolver           = 0x0
GEngine_RVA                      = 0x0
GObjects_ChunkShift              = 0x10
GObjects_EntryBase               = 0x8
GObjects_IndexOff                = 0xC
GObjects_Stride                  = 0x18
HealthComp_MaxDouble             = 0x5D8
HealthComp_ScanHi                = 0x7D0
HealthComp_ScanLo                = 0x730
Health_A                         = 0x760
Health_B                         = 0x764
LOD_PositionBuffer               = 0xB8
LOD_RenderSections               = 0x10
LOD_SkinWeightBuffer             = 0x138
LocalPlayer_ViewStates           = 0x180
Mesh_BoneArray                   = 0xBB8
Mesh_BoneTree                    = 0xC28
Mesh_ComponentToWorld            = 0x340
Mesh_LastRenderTime              = 0x4B0
Mesh_SkeletalMeshAsset           = 0x730
POV_FovOffset                    = 0x50
POV_RotOffset                    = 0x28
Particles_HasBounds              = 0x0
Particles_WorldBounds            = 0x0
PlayerController_Player          = 0xE28
PosBuffer_Data                   = 0x28
PosBuffer_NumVertices            = 0x34
PosBuffer_Stride                 = 0x30
Primitive_ComponentId            = 0x4BC
RenderData_LODRenderData         = 0x0
SceneComp_ComponentVelocity      = 0x2E0
Section_BaseVertexIndex          = 0x10
Section_BoneMap                  = 0x38
Section_NumVertices              = 0x48
SkeletalMesh_RefBasesInvMatrix   = 0x3D0
SkeletalMesh_RenderData          = 0x178
SkeletalMesh_Skeleton            = 0x180
Skeleton_BindPose                = 0xB0
Skeleton_ParentTable             = 0xC0
Solver_StaticParticles           = 0x0
Squad_Index                      = 0x2D0
UActorComponent_World            = 0x190
UGameEngine_GameInstance         = 0x1580
UGameInstance_LocalPlayers       = 0x230
ULevel_OwningWorld               = 0x130
UPlayer_PlayerController         = 0x158
USceneComponent_RelLocation      = 0x298
UWorld_Levels                    = 0x3E0
UWorld_NetDriver                 = 0x148
UWorld_PersistentLevel           = 0x158
UWorld_PhysicsScene              = 0x0
UWorld_TimeSeconds               = 0xB58
VT_AGameStateBase                = 0xE1C3E80
VT_APawn                         = 0xE2BE350
VT_APlayerCameraManager          = 0xE3AAD30
VT_APlayerController             = 0xE2D9ED0
VT_APlayerState                  = 0xE1D0E50
VT_ULevel                        = 0xD68E010
VT_UWorld                        = 0xDA58F10
ViewState_Occlusion              = 0x136D0
