# Written by TheFinals --resolve. Values verified against a live match.
# Delete this file to fall back to the compiled-in defaults.

AActor_RootComponent             = 0x240
ACharacter_CapsuleComponent      = 0x450
ACharacter_CharacterMovement     = 0x448
AController_ControlRotation      = 0x440
AController_Pawn                 = 0x400
AController_PlayerState          = 0x3E8
ADiscoveryCharacter_AnimSU       = 0xD08
ADiscoveryCharacter_Health       = 0xCF0
ADiscoveryCharacter_Squad        = 0xD30
AGameStateBase_PlayerArray       = 0x488
AGameStateBase_WorldTime         = 0x4B8
APawn_BaseEyeHeight              = 0x3CC
APawn_Controller                 = 0x3F0
APawn_Mesh                       = 0x440
APlayerCameraManager_PCOwner     = 0x410
APlayerCameraManager_POVLoc      = 0x458
APlayerController_CameraManager  = 0x0
APlayerState_ClubTag             = 0x678
APlayerState_Discriminator       = 0x5C8
APlayerState_DisplayName         = 0x688
APlayerState_PawnPrivate         = 0x438
APlayerState_Spectator           = 0x3CA
APlayerState_Squad               = 0x488
AnimSU_GameState                 = 0x370
BoneTree_Parents                 = 0x90
Bone_Head                        = 0x7
Bone_Pelvis                      = 0x1
Capsule_HalfHeight               = 0x6A0
GEngine_RVA                      = 0x0
GObjects_Imm1                    = 0xB1
GObjects_Imm2                    = 0x39
GObjects_Key                     = 0xF7B81D13CB21777D
GObjects_NumKey                  = 0xCB0D8D4
GObjects_NumOff                  = 0xC
GObjects_ObjKey                  = 0x729D633400000000
GObjects_ObjOff                  = 0x20
GObjects_RVA                     = 0x1060E3C0
GObjects_Shift                   = 0x5
HealthComp_MaxDouble             = 0x5D8
HealthComp_ScanHi                = 0x780
HealthComp_ScanLo                = 0x6E0
Health_A                         = 0x710
Health_B                         = 0x714
Mesh_BoneArray                   = 0xB48
Mesh_BoneTree                    = 0xBB8
Mesh_ComponentToWorld            = 0x310
Mesh_LastRenderTime              = 0x480
Mesh_SkeletalMeshAsset           = 0x708
POV_FovOffset                    = 0x48
POV_RotOffset                    = 0x20
SceneComp_ComponentVelocity      = 0x2B8
SkeletalMesh_Skeleton            = 0x180
Skeleton_BindPose                = 0xB0
Skeleton_ParentTable             = 0xC0
Squad_Index                      = 0x280
UGameEngine_GameInstance         = 0x1580
UGameInstance_LocalPlayers       = 0x230
ULevel_OwningWorld               = 0x130
UPlayer_PlayerController         = 0x410
USceneComponent_RelLocation      = 0x270
UWorld_Levels                    = 0x350
UWorld_NetDriver                 = 0x148
UWorld_PersistentLevel           = 0x128
VT_AGameStateBase                = 0xDD3C820
VT_APawn                         = 0xDE379B0
VT_APlayerCameraManager          = 0xDF27030
VT_APlayerController             = 0xDE537C0
VT_APlayerState                  = 0xDD49790
VT_ULevel                        = 0xD1FE590
VT_UWorld                        = 0xD5CAB80
