# Written by TheFinals --resolve. Values verified against a live match.
# Delete this file to fall back to the compiled-in defaults.

AActor_RootComponent             = 0x238
ACharacter_CapsuleComponent      = 0x448
ACharacter_CharacterMovement     = 0x440
AController_ControlRotation      = 0x420
AController_Pawn                 = 0x400
AController_PlayerState          = 0x3C8
ADiscoveryCharacter_AnimSU       = 0xD08
ADiscoveryCharacter_Health       = 0xCF0
ADiscoveryCharacter_Squad        = 0xD30
AGameStateBase_PlayerArray       = 0x470
AGameStateBase_WorldTime         = 0x498
APawn_BaseEyeHeight              = 0x3C4
APawn_Controller                 = 0x3E8
APawn_Mesh                       = 0x438
APlayerCameraManager_PCOwner     = 0x418
APlayerCameraManager_POVLoc      = 0x4D0
APlayerController_CameraManager  = 0x0
APlayerState_ClubTag             = 0x668
APlayerState_Discriminator       = 0x5B8
APlayerState_DisplayName         = 0x678
APlayerState_PawnPrivate         = 0x430
APlayerState_Spectator           = 0x3C2
APlayerState_Squad               = 0x480
AnimSU_GameState                 = 0x390
BoneTree_Parents                 = 0x90
Bone_Head                        = 0x7
Bone_Pelvis                      = 0x1
Capsule_HalfHeight               = 0x6C0
GEngine_RVA                      = 0x0
GObjects_ChunkShift              = 0x10
GObjects_EntryBase               = 0x8
GObjects_IndexOff                = 0xC
GObjects_KeyA                    = 0x27153222C3C8DD6F
GObjects_KeyB                    = 0x61294808F8FBA415
GObjects_NumKey                  = 0x8EA6BE48
GObjects_NumOff                  = 0x14
GObjects_ObjKey                  = 0x65FFC64600000000
GObjects_ObjOff                  = 0x20
GObjects_RVA                     = 0x1052B830
GObjects_Stride                  = 0x18
HealthComp_MaxDouble             = 0x5D8
HealthComp_ScanHi                = 0x7A0
HealthComp_ScanLo                = 0x700
Health_A                         = 0x730
Health_B                         = 0x734
Mesh_BoneArray                   = 0xB78
Mesh_BoneTree                    = 0xBE8
Mesh_ComponentToWorld            = 0x330
Mesh_LastRenderTime              = 0x4A0
Mesh_SkeletalMeshAsset           = 0x728
POV_FovOffset                    = 0x48
POV_RotOffset                    = 0x20
SceneComp_ComponentVelocity      = 0x2D0
SkeletalMesh_Skeleton            = 0x180
Skeleton_BindPose                = 0xB0
Skeleton_ParentTable             = 0xD0
Squad_Index                      = 0x280
UGameEngine_GameInstance         = 0x1580
UGameInstance_LocalPlayers       = 0x230
ULevel_OwningWorld               = 0x130
UPlayer_PlayerController         = 0x410
USceneComponent_RelLocation      = 0x288
UWorld_Levels                    = 0x350
UWorld_NetDriver                 = 0x148
UWorld_PersistentLevel           = 0x128
VT_AGameStateBase                = 0xDD10A50
VT_APawn                         = 0xDE0C6C0
VT_APlayerCameraManager          = 0xDEFD6A0
VT_APlayerController             = 0xDE28620
VT_APlayerState                  = 0xDD1DB80
VT_ULevel                        = 0xD1FE590
VT_UWorld                        = 0xD5CAB80
