# TheFinals menu settings. Delete this file to go back to defaults.
aim_bone         = 0
aim_button       = 0
aim_dist_fov     = 1
aim_enabled      = 1
aim_fov_px       = 42.000
aim_head_fwd     = 0.020
aim_head_lift    = 0.045
aim_head_up      = 0.020
aim_inertia      = 0.950
aim_lead_ms      = 35.000
aim_max_dist     = 162.000
aim_predict      = 1
aim_smooth       = 1.000
aim_smooth_mode  = 0
aim_stickiness   = 3.000
aim_sticky       = 1
aim_target_bias  = 1.000
aim_visible_only = 0
esp_alpha        = 136
esp_boxes        = 1
esp_distance     = 0
esp_health       = 1
esp_name         = 0
esp_self         = 0
esp_skeleton     = 1
esp_snaplines    = 1
esp_teamcolor    = 1
esp_teammates    = 0
fov              = 90.000
menu_h           = 427.000
menu_w           = 698.000
trig_activate_ms = 198
trig_button      = 0
trig_cooldown    = 0
trig_delay_ms    = 0
trig_enabled     = 0
trig_forgive     = 0.000
trig_hold_ms     = 5
trig_min_tol     = 4.000
trig_size_scale  = 1.000
trig_skel_part   = 2
trig_skeleton    = 1
trig_visible_only = 1
vis_dim_alpha    = 255
vis_style        = 1
vis_tolerance    = 0.050
